{% extends 'base.html' %}
{% block content %}
<div class="page-header">
    <h1>Create Alert</h1>
</div>
<div class="container page-form">
    <form id="new-alert-form" action="{{ url_for('alerts.create_alert') }}" method="post">
        <div class="form-group">
            <label for="name">Alert or Item Name</label>
            <input type='text' class="form-control" id="name" name="name" placeholder="Item Name">
        </div>
        <div class="form-group">
            <label for="url">URL</label>
            <input type='text' class="form-control" id="url" name="url" placeholder="http://...">
        </div>
        <div class="form-group">
            <label for="price_limit">Price Limit</label>
            <input type='text' class="form-control" id="price_limit" name="price_limit" placeholder="9.99"
                   aria-describedby="priceLimitBlock">
            <p id="priceLimitBlock" class="help-block">Enter the dollar amount when you want an email</p>
        </div>
        <button type="submit" class="btn btn-success" id="submit-button">New Alert</button>
    </form>
</div>
{% endblock %}
